@font-face {
    font-family: '3dumbregular';
    src: url('./assets/fonts/3Dumb-webfont.woff2') format('woff2'),
         url('./assets/fonts/3Dumb-webfont.woff') format('woff');

    font-weight: normal;
    font-style: normal;
}

@media print {
    body {
        font-family: 'Times New Roman', Times, serif;
    }
}

* {
    box-sizing: border-box;
}

html {
    font-family: '3dumbregular';
    
}

body {
    background: linear-gradient(#D6FFF3, #CEABB1);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
   background-color: #CEABB1; 
   height: 5vh;
   width: 100%;  
   display: flex;
   justify-content: flex-end;
   align-items: center;
   position: fixed;
   padding: 40px;

}

header ul {
    margin-top: 0;
    margin-right: 40px;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 30px;

}


nav a {
    text-decoration: none;
    font-size: 2rem;
}

nav a:visited {
    color: green;
}

#welcome-section {
    height: 100vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcome-container {
    text-align: center;
}

#welcome-section h1 {
    font-size: 3.5rem;
}

#sub-greeting {
    font-size: 2rem;
}

#projects {
    margin-top: 10vh;
    padding: 30px;
    text-align: center;
}

#projects h2 {
    font-size: 3rem;
    margin-top: 8vh;
}

#project-grid {
    display: grid;
    grid-template-columns: auto auto auto;
}

.project-container {
    padding: 10px;
    text-align: center;
}

.project-img {
    width: 400px;
    height: 329.91px;
    border-radius: 5px;
    border: 2px solid #444545;
}

.project-text a{
    font-size: 1.5rem;
    text-decoration: none;
}

.project-text a:visited {
    color: green;
}

.project-text a:hover {
    font-size: 2.2rem;
}

#contact {
    text-align: center;
    padding: 200px;

}

#contact h2 {
    font-size: 3.0rem;
}

.contact-links {
    
    display: flex;
    justify-content: center;
    gap: 30px;
}

#contact a {
    text-decoration: none;
    font-size: 2rem;
}

#contact a:visited {
    color: green;
}

footer {
    height: 5vh;
    background-color: #D6FFF3;
    padding: 10px;
    text-align: end;
}

footer p {
    margin-right: 30px;
}


